.createTodoMain {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addTaskButton {
  height: 40px;
  /* border: 2px solid blue; */
  border-radius: 10px;
  margin-bottom: 10px;
  border: 0.5px solid lightgray;
}

.inputAndButton {
  /* border: 2px solid red; */
  width: 100%;
  height: 40px;
  display: flex;
  column-gap: 0px;
  /* display: flex; */
  /* justify-content: space-between; */
  margin-top: 10px;
}

.inputAddTaskButton {
  border: 0.5px solid lightgray;
  border-radius: 0px 10px 10px 0px;
  height: 40px;
  width: 150px;
  border-left: none;
}

.input {
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  /* border: 2px solid red; */
  height: 40px;
  padding: 10px;
  border-right: none;
  border: 0.5px solid lightgray;
}

.input:focus {
  outline: none;
}
